{% extends "main/base.html" %}

{% block title %}Domain Checker - User Profile{% endblock %}

{% block content %}

<div class="container">
  <h1>User Profile</h1>

  <p>User profile information for {{ user.first_name}} {{ user.last_name }} (<em>{{ user.username }}</em>).</p>

  {% if profile_message %}
    <div class="alert alert-{{ profile_messagetype }}">{{ profile_message }}</div>
  {% endif %}

  <hr />

  <h2>Projects</h2>
  {% if projects|length == 0 %}
    <p class="text-muted"><em>You have not uploaded any projects.</em></p>
  {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Filename</th><th>Uploaded</th><th># Domains</th><th>Progress</th><th>Action</th>
        </tr>
      </thead>
      {% for project in projects %}
        <tr {% if project.state == 'completed'  %}class="success"{% elif project.state == 'error' %}class="danger"{% endif %}>
          <td>{{ project.file.filename }}</td><td>{{ project.created }}</td><td>{{ project.domains|length }}</td>
          <td>
            {% if project.state == 'completed' %}
              <b>Complete</b> ({{ project.percent_complete_str }}%)
            {% elif project.state == 'error' %}
              <b>Error</b> ({{ project.percent_complete_str }}%)
            {% else %}
              {{ project.percent_complete_str }}%
            {% endif %}
          </td>
          <td>
            <a role="button" class="btn btn-info btn-xs" href="/project?id={{ project.id }}">
              {% if project.state == 'completed' %}
                View results
              {% elif project.state == 'error' %}
                View details
              {% else %}
                View progress
              {% endif %}
            </a>
            <a role="button" class="btn btn-danger btn-xs" href="#" onclick="confirm_project_delete('{{ project.file.filename }}', '{{ project.id }}');">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <h3>Create New Project</h3>
  <form name='upload' action="/upload_project" method="post" {% if uploadform.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    <div class="form-group">
      <!-- <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label> -->
      {{ uploadform.file }}
    </div>
    <button type="submit" class="btn btn-primary">Create new project</button>
  </form>

  <hr />
  <h2>Your Details</h2>

  <h3 class="text-muted">Change Details</h3>
  <form class="form-horizontal" role="form" name="change_details" action="/change_details" method="get" onsubmit="return validate_details(this);">
    <div class="form-group">
      <label for="input_first_name" class="col-sm-2 control-label">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input_first_name" name="first_name" placeholder="First name" value="{{ user.first_name }}" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_last_name" class="col-sm-2 control-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input_last_name" name="last_name" placeholder="Last name" value="{{ user.last_name }}" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Change details</button>
      </div>
    </div>
  </form>
  
  <h3 class="text-muted">Change Email</h3>
  <form class="form-horizontal" role="form" name="change_email" action="/change_email" method="get" onsubmit="return validate_email(this);">
    <div class="form-group">
      <label for="input_email1" class="col-sm-2 control-label">New email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input_email1" name="email1" placeholder="New email" value="{{ user.email }}" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_email2" class="col-sm-2 control-label">Repeat email</label>
      <div class="col-sm-10">
        <input type="email2" class="form-control" id="input_email2" name="email2" placeholder="Repeat email" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Change email</button>
      </div>
    </div>
  </form>

  <h3 class="text-muted">Change Password</h3>
  <p>Fill in the following boxes to change your password.</p>
  <form class="form-horizontal" role="form" name="change_password" action="/change_password" method="get" onsubmit="return validate_pwd(this);">
    <div class="form-group">
      <label for="input_oldpassword" class="col-sm-2 control-label">Old password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="input_oldpassword" name="oldpassword" placeholder="Old password" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_newpassword1" class="col-sm-2 control-label">New password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="input_newpassword1" name="newpassword1" placeholder="New password" />
      </div>
    </div>
    <div class="form-group">
      <label for="input_newpassword2" class="col-sm-2 control-label">Repeat password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="input_newpassword2" name="newpassword2" placeholder="Repeat password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </div>
  </form>

  {% if user.is_staff %}
    <hr />
      <h3 class="text-muted">General Settings</h3>
    <h2>Administration Settings</h2>
    <form class="form-horizontal" role="form" name="admin_settings" action="/update_admin" method="post">
      <h3 class="text-muted">Domains</h3>
      {% csrf_token %}
      <div class="form-group">
        <label for="input_exclusions" class="col-sm-2 control-label">Exclusions list</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="input_exclusions" name="exclusions" rows="10">{{ exclusions }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="input_preserved" class="col-sm-2 control-label">Preservation list</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="input_preserved" name="preserved" rows="10">{{ preserved }}</textarea>
        </div>
      </div>
      {% if user.is_superuser %}
        <h3 class="text-muted">Global Settings</h3>
        <div class="form-group">
          <label for="input_client_ip" class="col-sm-2 control-label">Client (API) IP</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_client_ip" name="client_ip" value="{{ admin.client_ip }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_use_live_api" class="col-sm-2 control-label">Use Live API?</label>
          <div class="col-sm-10">
            <input type="checkbox" id="input_use_live_api" name="use_live_api" value="{{ admin.use_live_api }}" {% if admin.use_live_api == 'true' %}checked="checked"{% endif %}/>
          </div>
        </div>
        <div class="form-group">
          <label for="input_noreply_address" class="col-sm-2 control-label">No-reply Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="input_noreply_address" name="noreply_address" value="{{ admin.noreply_address }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_admin_address" class="col-sm-2 control-label">Administrator Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="input_admin_address" name="admin_address" value="{{ admin.admin_address }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_server_address" class="col-sm-2 control-label">Server Address</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_server_address" name="server_address" value="{{ admin.server_address }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_staff" class="col-sm-2 control-label">Staff users</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="input_staff" name="staff" rows="5">{{ staff }}</textarea>
          </div>
        </div>
        <h3 class="text-muted">Live API Settings</h3>
        <div class="form-group">
          <label for="input_live_api_url" class="col-sm-2 control-label">Request URL</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_live_api_url" name="live_api_url" value="{{ admin.live_api_url }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_live_api_key" class="col-sm-2 control-label">API Key</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_live_api_key" name="live_api_key" value="{{ admin.live_api_key }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_live_api_user" class="col-sm-2 control-label">User</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_live_api_user" name="live_api_user" value="{{ admin.live_api_user }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_live_api_username" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_live_api_username" name="live_api_username" value="{{ admin.live_api_username }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_live_api_wait_time" class="col-sm-2 control-label">Wait Time</label>
          <div class="col-sm-10 input-group">
            <input type="text" class="form-control" id="input_live_api_wait_time" name="live_api_wait_time" value="{{ admin.live_api_wait_time}}" />
            <span class="input-group-addon">second(s)</span>
          </div>
        </div>
        <div class="form-group">
          <label for="input_live_api_urls_per_request" class="col-sm-2 control-label">URLs per Request</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_live_api_urls_per_request" name="live_api_urls_per_request" value="{{ admin.live_api_urls_per_request }}" />
          </div>
        </div>
        <h3 class="text-muted">Test/Sandbox API Settings</h3>
        <div class="form-group">
          <label for="input_sandbox_api_url" class="col-sm-2 control-label">Request URL</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_sandbox_api_url" name="sandbox_api_url" value="{{ admin.sandbox_api_url }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_sandbox_api_key" class="col-sm-2 control-label">API Key</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_sandbox_api_key" name="sandbox_api_key" value="{{ admin.sandbox_api_key }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_sandbox_api_user" class="col-sm-2 control-label">User</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_sandbox_api_user" name="sandbox_api_user" value="{{ admin.sandbox_api_user }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_sandbox_api_username" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_sandbox_api_username" name="sandbox_api_username" value="{{ admin.sandbox_api_username }}" />
          </div>
        </div>
        <div class="form-group">
          <label for="input_sandbox_api_wait_time" class="col-sm-2 control-label">Wait Time</label>
          <div class="col-sm-10 input-group">
            <input type="text" class="form-control" id="input_sandbox_api_wait_time" name="sandbox_api_wait_time" value="{{ admin.sandbox_api_wait_time}}" />
            <span class="input-group-addon">second(s)</span>
          </div>
        </div>
        <div class="form-group">
          <label for="input_sandbox_api_urls_per_request" class="col-sm-2 control-label">URLs per Request</label>
          <div class="col-sm-10">
            <input class="form-control" id="input_sandbox_api_urls_per_request" name="sandbox_api_urls_per_request" value="{{ admin.sandbox_api_urls_per_request }}" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Update settings</button>
          </div>
        </div>
      {% endif %}
    </form>
    <h3 class="text-muted">Miscellaneous Functions<h3>
    <div class="form-group">
      <a href="/update_tlds" type="button" class="btn btn-primary">Update NameCheap TLDs</a>
    </div>
  {% endif %}

</div>

<script type="text/javascript">
function validate_email(form) {
  form = $(form);
  newemail = $('input[name="email1"]').val().trim();
  repemail = $('input[name="email2"]').val().trim();

  if (newemail == '' || repemail == '') {
    alert('Error: All email fields must be filled in before submitting.');
    return false;
  }
  if (newemail != repemail) {
    alert('Error: New emails must match.');
    return false;
  }
  return true;
}

function validate_pwd(form) {
  form = $(form);
  oldpwd = $('input[name="oldpassword"]').val().trim();
  newpwd = $('input[name="newpassword1"]').val().trim();
  reppwd = $('input[name="newpassword2"]').val().trim();

  if (oldpwd == '' || newpwd == '' || reppwd == '') {
    alert('Error: All password fields must be filled in before submitting.');
    return false;
  }

  if (newpwd != reppwd) {
    alert('Error: New passwords do not match.');
    return false;
  }

  return true;
}

function validate_details(form) {
  return true;
}

function confirm_project_delete(pname, pid) {
  if (confirm('Are you sure you want to delete the project "'+pname+'"?')) {
    document.location.href = '/delete_project?pid='+pid
  }
}

</script>

{% endblock %}
