{% extends "main/base.html" %}

{% block title %}Domain Checker - Project Progress{% endblock %}

{% block content %}

<div class="container">
<h1>Project Progress</h1>

<p>Viewing details for project '{{ project_file.filename }}' (or return to <a href="{% url "main.views.project_list" %}">project listing</a>).</p>

<h3>Summary</h3>

{% if project.state == 'error' %}
<div class="alert alert-danger">
  <p><b>This project has encountered an error and will not progress.</b> Details:</p>
  {% autoescape off %}
  <p>&nbsp;<br/><em>{{ project_error_formatted }}</em><br />&nbsp;</p>
  {% endautoescape %}
  <p>If you require further assistance, please contact the server administrator.</p>
</div>
{% endif %}

<p>Status: {{ project.get_state_display }}
<p>Progress: <b>{{ project.get_percent_complete|floatformat:2 }}%</b></p>
{% if project.is_running %}
<p>Run time to date: {{ project.run_time }}</p>
{% else %}
<p>Completion time: {{ project.run_time }}</p>
{% endif %}
<p>Domains to check: {{ domains|length }}</p>
<p>Last updated: {{ project.updated }}</p>

<ul class="nav nav-pills">
  <li class="active"><a href="#domains" data-toggle="pill">Availability<span class="badge">{{ domains|length }}</span></a></li>
  <li><a href="#url-metrics" data-toggle="pill">URL Metrics<span class="badge">{{ project.get_measured_domains|length }}</span></a></li>
  <li><a href="#unregisterable" data-toggle="pill">Unregisterable<span class="badge">{{ unregisterables|length }}</span></a></li>
  <li><a href="#special" data-toggle="pill">Special<span class="badge">{{ specials|length }}</span></a></li>
  <li><a href="#errors" data-toggle="pill">Errors<span class="badge">{{ errors|length }}</span>{% if project.parse_errors %}<span class="badge">parse</span>{% endif %}</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane fade in active" id="domains">
{% if domains|length > 0 %}
<h3>Domain Check Results</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain Name</th><th>Checked</th><th>Last Checked</th><th>Available</th>
    </tr>
  </thead>
  {% for domain in domains %}
  <tr {% if domain.state == 'available' and domain.is_checked %}class="success"{% elif domain.is_checked %}class="danger"{% else %}class="warning"{% endif %}>
      <td>{{ domain.domain }}</td>
      <td>{{ domain.is_checked }}</td>
      <td>
        {% if domain.is_checked %}
          {{ domain.last_checked }}
        {% else %}
          --
        {% endif %}
      </td>
      <td>
        {% if domain.is_checked %}
          {{ domain.state }}
        {% else %}
          --
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endif %}
</div>
<div class="tab-pane fade" id="url-metrics">
{% if project.get_measured_domains|length > 0 %}
<h3>URL Metrics</h3>
<p class="text-muted">Please note that metrics are collected only on domains found to be <strong>available</strong>.  Domains whose metrics have not been collected yet are not listed here.  Also be aware that the process for gathering URL metrics <strong>may take some time</strong> to complete.</p>
<table class="table table-striped" id="metrics-table">
  <thead>
    <tr>
      <th>Domain Name</th><th>MozRank</th><th>Incoming Links</th><th>Page Authority</th><th>Domain Authority</th>
    </tr>
  </thead>
  {% for md in project.get_measured_domains %}
  <tr>
    <td>{{ md.query_url }}</td>
    <td>{{ md.mozrank_10|floatformat:2 }}</td>
    <td>{{ md.links|floatformat:-2 }}</td>
    <td>{{ md.page_authority|floatformat:2 }}</td>
    <td>{{ md.domain_authority|floatformat:2 }}</td>
  </tr> 
  {% endfor %}
</table>
<div class="clear"></div>
{% else %}
<p class="text-muted">No metrics are available for this project yet.  Please note that only <strong>available</strong> domains are scheduled for metrics testing.</p>
{% endif %}
</div>

<div class="tab-pane fade" id="unregisterable">
{% if unregisterables|length > 0 %}
<h3>Unregisterable Domains</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Reason</th>
    </tr>
  </thead>
  {% for domain in unregisterables %}
  <tr> 
    <td>{{ domain.domain }}</td><td>{{ domain.error }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="text-muted">No unregisterable domains have been found for this project.</p>
{% endif %}
</div>

<div class="tab-pane fade" id="special">
{% if specials|length > 0 %}
<h3>Special Domains</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Reason</th>
    </tr>
  </thead>
  {% for domain in specials %}
  <tr> 
    <td>{{ domain.domain }}</td><td>{{ domain.error }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="text-muted">No special domains were found in this project.</p>
{% endif %}
</div>

<div class="tab-pane fade" id="errors">
{% if errors|length == 0 and not project.parse_errors %}
<p class="text-muted">No errors were found for this project.</p>
{% endif %}
{% if errors|length > 0 %}
<h3>Errors</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Error</th>
    </tr>
  </thead>
  {% for error in errors %}
  <tr> 
    <td>{{ error.domain }}</td><td>{{ error.error }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if project.parse_errors %}
<h3>Parse Errors</h3>
<p>The following errors were encountered when parsing the submitted project file:</p>
<p><pre class=".pre-scrollable">{{ project.parse_errors }}</pre></p>
{% endif %}
</div>

</div>
<p><a href="{% url "main.views.project_list" %}">Return to project listing</a>.</p>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
  var metricsTable = $('#metrics-table').dataTable({
    'bPaginate' : false,
    'bFilter' : false,
    'bSortClasses' : false,
    'bInfo' : false,});
  /* Sort by domain authority with highest at the top */
  metricsTable.fnSort([[4,'desc']]);
});
</script>
{% endblock %}
