{% extends "main/base.html" %}
{% block title %}Domain Checker - User Project Listing{% endblock %}

{% block content %}
<div class="container">
  <h1>User Project List</h1>

  <p>User project information for {{ user.first_name}} {{ user.last_name }} (<em>{{ user.username }}</em>).</p>

  {% if profile_message %}
    <div class="alert alert-dismissable alert-{{ profile_messagetype }}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ profile_message|safe }}
    </div>
  {% endif %}
  <hr />

  <h3>Create New Project</h3>
  <form name='upload' action="/upload_project" method="post" {% if uploadform.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    <div class="form-group">
      <!-- <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label> -->
      {{ uploadform.file }}
    </div>
    <button type="submit" class="btn btn-primary">Create new project</button>
  </form>

  <h2>Project List</h2>
  {% if projects|length == 0 %}
    <p class="text-muted"><em>You have not uploaded any projects.</em></p>
  {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Filename</th><th>Uploaded</th><th># Domains</th><th>Status</th><th>Progress</th><th>Metrics</th><th>Action</th>
        </tr>
      </thead>
      {% for project in projects %}
        <tr {% if project.state == 'completed'  %}class="success"{% elif project.state == 'error' %}class="danger"{% elif project.state == 'measuring' %}class="warning"{% endif %}>
          <td>{{ project.file.filename }}</td><td>{{ project.created }}</td><td>{{ project.domains|length }}</td>
          <td>
            {{ project.get_state_display }}
          </td>
          <td>
            {{ project.get_percent_complete|floatformat:2 }}%
          </td>
          <td>
            {{ project.get_measured_domains|length }} / {{ project.get_measurable_domains|length }}
          </td>
          <td>
            <a role="button" class="btn btn-info btn-xs" href="/project?id={{ project.id }}">
              {% if project.state == 'completed' %}
                View results
              {% elif project.state == 'error' %}
                View details
              {% else %}
                View progress
              {% endif %}
            </a>
            <a role="button" class="btn btn-danger btn-xs" href="#" onclick="confirm_project_delete('{{ project.file.filename }}', '{{ project.id }}');">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
function confirm_project_delete(pname, pid) {
  if (confirm('Are you sure you want to delete the project "'+pname+'"?')) {
    document.location.href = '/delete_project?pid='+pid
  }
}
</script>
{% endblock %}
