{% extends "main/base.html" %}

{% block title %}Domain Checker - Project Progress{% endblock %}

{% block content %}

<div class="container">
<h1>Project Progress</h1>

<p>Viewing details for project '{{ project_file.filename }}' (or return to <a href="/profile">profile</a>).</p>

<h3>Summary</h3>

{% if project.state == 'error' %}
<div class="alert alert-danger">
  <p><b>This project has encountered an error and will not progress.</b> Details:</p>
  <p>&nbsp;<br/>&nbsp;&nbsp;<em>{{ project.error }}.</em><br />&nbsp;</p>
  <p>If you require further assistance, please contact the server administrator.</p>
</div>
{% endif %}

<p>Status: {{ project.get_state_display }}
<p>Progress: <b>{{ progress }}%</b></p>
<p>Domains to check: {{ domains|length }}</p>
<p>Last updated: {{ project.updated }}</p>

<hr />
<h3>Domain Check Results</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain Name</th><th>Checked</th><th>Last Checked</th><th>Available</th>
    </tr>
  </thead>
  {% for domain in domains %}
  <tr {% if domain.state == 'available' and domain.is_checked %}class="success"{% elif domain.is_checked %}class="danger"{% else %}class="warning"{% endif %}>
      <td>{{ domain.domain }}</td>
      <td>{{ domain.is_checked }}</td>
      <td>
        {% if domain.is_checked %}
          {{ domain.last_checked }}
        {% else %}
          --
        {% endif %}
      </td>
      <td>
        {% if domain.is_checked %}
          {{ domain.state }}
        {% else %}
          --
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% if unregisterables|length > 0 %}
<h3>Unregisterable Domains</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Reason</th>
    </tr>
  </thead>
  {% for domain in unregisterables %}
  <tr> 
    <td>{{ domain.domain }}</td><td>{{ domain.error }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if specials|length > 0 %}
<h3>Special Domains</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Reason</th>
    </tr>
  </thead>
  {% for domain in specials %}
  <tr> 
    <td>{{ domain.domain }}</td><td>{{ domain.error }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if errors|length > 0 %}
<h3>Errors</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th><th>Error</th>
    </tr>
  </thead>
  {% for error in errors %}
  <tr> 
    <td>{{ error.domain }}</td><td>{{ error.error }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if project.parse_errors %}
<h3>Parse Errors</h3>
<p>The following errors were encountered when parsing the submitted project file:</p>
<p><pre class=".pre-scrollable">{{ project.parse_errors }}</pre></p>
{% endif %}

<p><a href="/profile">Return to profile</a>.</p>
</div>

{% endblock %}
